// https://www.w3schools.com/howto/howto_css_switch.asp used as starting point

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4589b7;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 18px;
}

.slider:before {
  position: absolute;
  content: "F";
  padding: 2% 12%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e0e6ed;
  -webkit-transition: .4s;
  transition: .4s;
}

.celsius.slider:before {
  content: "C";
  padding-left: 10%;
  color: white;
  background-color: #263635;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}