@use 'toggle.scss';

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Lora', serif;
}

body {
  background-image: linear-gradient(141deg, #e6eaff, #f1f1f1, #f1f1ff);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center center;
}

h2,
h3,
h4 {
  text-align: center;
}

.hidden {
  display: none !important;
}

.mobile-only {
  display: none;
}

@media (max-width: 700px) {
  .mobile-only {
    display: block;
  }

  .full-view-only {
    display: none;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #81aacca8;
  height: 60px;

  h1 {
    margin: 0;
    font-size: 32px;
  }
}

footer {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #81aacca8;

  p {
    font-size: 16px;
  }

  a {
    color: #e1e1e2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 750px) {
  footer {
    justify-content: space-between;

    p {
      font-size: 13px;
    }
  }
}

#search {
  border: none;
  font-size: 16px;
  padding: 5px 4px;
  background-color: lightgray;

  &:focus,
  &:focus-visible {
    outline: none;
    background-color: #e6eaff;
  }

}

#search-icon {
  position: relative;
  font-size: 23px;
  top: 5px;
  right: 33px;

  &:hover {
    cursor: pointer;
  }
}

#location-icon {
  position: relative;
  font-size: 23px;
  top: 6px;
  right: 21px;

  &:hover {
    cursor: pointer;
  }
}

#main-container {
  width: 500px;
}

@media (max-width: 750px) {
  #main-container {
    width: 100%;
  }
}

#weather-container {
  background-color: #a9acd4bd;

  h2 {
    margin: 0;
    padding-top: 22px;
  }
}

.details {
  display: flex;
  justify-content: center;

  div {
    margin: 10px 25px 15px;
  }

  h4 {
    text-align: start;
    font-weight: 400;
  }
}

#description {
  text-transform: capitalize;
}

#forecast-container {
  background-color: #759fc3c9;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 19px;
    margin: 9px;
    text-align: center;
  }

  p {
    font-size: 15px;
    margin: 9px;
    text-align: center;
  }
}

.forecast-icon {
  width: 70px;
  height: 70px;
}

@media (max-width: 750px) {
  .forecast-icon {
    width: 50px;
    height: 50px;
  }
}