/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4589b7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 18px;
}

.slider:before {
  position: absolute;
  content: "F";
  padding: 2px 7px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e0e6ed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.celsius.slider:before {
  content: "C";
  padding-left: 6px;
  color: white;
  background-color: #263635;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-family: "Lora", serif;
}

body {
  background-image: linear-gradient(141deg, #e6eaff, #f1f1f1, #f1f1ff);
  margin: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

h2,
h3,
h4 {
  text-align: center;
}

.mobile-only {
  display: none;
}

@media (max-width: 750px) {
  .mobile-only {
    display: block;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(129, 170, 204, 0.6588235294);
  height: 60px;
}
header h1 {
  margin: 0;
  font-size: 32px;
}
@media (max-width: 750px) {
  header h1 {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: rgba(129, 170, 204, 0.6588235294);
}
footer p {
  font-size: 16px;
}
footer a {
  color: #e1e1e2;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  footer {
    justify-content: space-between;
  }
  footer p {
    font-size: 13px;
  }
}
.hidden {
  display: none !important;
}

#search {
  border: none;
  font-size: 16px;
  padding: 5px 4px;
  background-color: lightgray;
}
#search:focus, #search:focus-visible {
  outline: none;
  background-color: #e6eaff;
}

#search-icon {
  position: relative;
  font-size: 23px;
  top: 5px;
  right: 33px;
}
#search-icon:hover {
  cursor: pointer;
}

#location-icon {
  position: relative;
  font-size: 23px;
  top: 6px;
  right: 21px;
}
#location-icon:hover {
  cursor: pointer;
}

#weather-container {
  margin: auto;
  margin-top: 200px;
  width: 500px;
  background-color: rgba(169, 172, 212, 0.7411764706);
}
#weather-container h2 {
  margin: 0;
  padding-top: 22px;
}

@media (max-width: 750px) {
  #weather-container {
    width: auto;
    margin-top: 140px;
  }
}
.details {
  display: flex;
  justify-content: center;
}
.details div {
  margin: 10px 25px 15px;
}
.details h4 {
  text-align: start;
  font-weight: 400;
}

#description {
  text-transform: capitalize;
}

#forecast-container {
  background-color: rgba(117, 159, 195, 0.7882352941);
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
#forecast-container h4 {
  font-size: 19px;
  margin: 9px;
  text-align: center;
}
#forecast-container p {
  font-size: 15px;
  margin: 9px;
  text-align: center;
}

.forecast-icon {
  width: 70px;
  height: 70px;
}

@media (max-width: 750px) {
  #forecast-container {
    width: auto;
  }
  #forecast-container .forecast-icon {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
